<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/bootstrap.css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/js/bootstrap.js/bootstrap.min.js"></script>
</body>
</html>
