body {
    background: grey;
}

table {
    width: auto;
    background: white;
    border: 2px solid black;
    border-collapse: collapse;
    text-align: center;
}

th {
    background: orange;
    border: 2px solid black;
}

td {
    border: 2px solid black;
}
