@model OfficeEntity

@{
    ViewData["Title"] = "CreateOffice";
}

<h2>Добавление нового офиса</h2>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Работник</legend>

        <p>
            Название офиса <br />
            @Html.EditorFor(model => model.name)
        </p>

        <p>
            Адрес офиса <br />
            @Html.EditorFor(model => model.adress)
        </p>

        <p>
            <input type="submit" value="Добавить офис" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("К списку офисов", "OfficeDetails")
</div>