@page
@model BarberShop.Pages.Main.ContactsModel
@{
    Layout = "_Layout";
}

<h2>Как с нами связаться</h2>

<div>
    <img src="/images/contacts.jpg" alt="contacts" class="rightimg"><br /><br /><br />
    АДРЕС<br />
    г. Минск, ул. Гикало, 5 к.4<br />
    РЕЖИМ РАБОТЫ<br />
    Пн. – вс.: с 0:00 до 24:00<br />
    ТЕЛЕФОН<br />
    +375(69)666-69-69<br />
    E-MAIL<br />
    bsuirhub@mail.by<br />
</div>

<a asp-page="./Error">Назад</a>