@page
@model BarberShop.Pages.Main.InfoModel
@{
    Layout = "_Layout";
}

<h2>О нас</h2>

<div>
    Парикмахерская "Сама себя накручиваю" - это место, где красота становится доступной для всех!
    Мастера нашего города изо дня в день рады стараться и помогать Вам преображаться.

    Ведь даже элементарная стрижка, а может даже и новый цвет волос, могут сделать вашу жизнь чуть ярче!

    "Сама себя накручиваю" это место, где вы сможете найти не только парикмахерские услуги.

    Здесь вы сможете ощутить работу мастеров nail сервиса, SPA, а также работу наших визажистов.

    Мы заботимся о наших клиентах!

    Именно поэтому стараемся, чтобы в нашем Городе главной достопримечательностью были Вы сами.<br />
                                                                                               <br />
    <img src="/images/info.jpg" alt="contacts" class="rightimg"><br />
</div>